<div class="home-quiz-container">
  <div class="background-image"></div>
  <div class="content-overlay">
    <div class="content-wrapper">
      <h1 class="title">Calculadora <span class="highlight">Calórica</span></h1>
      <p class="subtitle">
        Descubra suas necessidades calóricas personalizadas e receba um cardápio sob medida para seus objetivos de saúde e fitness.
      </p>
      <button class="start-quiz-btn" (click)="startQuiz()">
        Começar quiz
      </button>
    </div>
  </div>
</div>
