<div class="home-quiz-container">
  <div class="background-image"></div>
  <div class="content-overlay">
    <div class="content-wrapper">
      <h1 class="title">Sua dieta <span class="highlight">Tay Training</span></h1>
      <p class="subtitle">
        Responda algumas perguntas para podermos calcular a dieta mais personalizada possível, feita sob medida para atingir seus objetivo.
      </p>
      <button class="start-quiz-btn" (click)="startQuiz()">
        Começar
      </button>
    </div>
  </div>
</div>
